:root{
    --typographybackground: #f7931e;
    --audiobackground: #ff0;
    --youtubebackground: white;
}
.fluid-type {
    font-size: 14px;
}
.fluid-type > * {
    max-width: 60ch;
    line-height: 1.35;
}

@media screen and (min-width: 320px) {
    .fluid-type {
        font-size: calc(14px + 8 * ((100vw - 320px) / 960));
    }
}

@media screen and (min-width: 1280px) {
    .fluid-type {
        font-size: 22px;
    }
}
.typography{
    background-color: var(--typographybackground);
}
.audio{
    background-color: var(--audiobackground);
}
.youTube{
    background-color: var(--youtubebackground);
}

.youTubeBackgroundWrapper{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.youTube iframe{
    width:100%;
    height: 80%;
    position: absolute;
    bottom: 10%;
}
.youTube .article-content label{
    position: absolute;
    top: 0;
    left: 0;
}