
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=bc79bbcc-ecd7-41a0-bc77-204374dbe0e8");
    @font-face{
        font-family:"Gill Sans W01 Medium";
        src:url("Fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix");
        src:url("Fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix") format("eot"),url("Fonts/d9f9decc-5fa8-4390-a105-4f89f6b7b055.woff2") format("woff2"),url("Fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("Fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("Fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
    }
